 <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="<%= root_path %>">Notes APP</a>
          <form class="form-inline my-2 my-lg-0">
          <% if user_signed_in? %>
     <a class="navbar-brand" href="<%= root_path %>">Hi! <%= current_user.name %></a>
          <% end %>
    </form>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              
            </li>
            <li class="nav-item">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active btn btn-info btn-md"  href="<%= new_user_session_path %>">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="<%= new_user_registration_path %>">Sign up</a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>